body{
    text-align: center;
}
.game-container{
    width: 600px;
    margin: 0 auto;
    background: #ccc;
}
#grid{
    display: grid;
    grid-template-columns: repeat(4,60px);
    justify-content: center;
    gap:10px
}
.box-container{
    width: 60px;
    height: 60px;
}