* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #0b0f19;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  max-width: 1200px;
  border: 1px solid white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.image {
  width: 600px;
  height: 500px;
}
.content {
  border: 1px solid white;
  background-color: #2a374e;
}
.button-container{
  background: #2a374e;
  display: flex;
}
.content-box{
  padding: 20px;
}
.btn{
  padding: 10px 20px;
  background: #38bdf8 ;
}
.step1 {
  display: none;
}
.step2 {
  display: none;
}
.step3 {
  display: none;
}
.active {
  display: block;
}
